

body{
  background-image: url("https://user-images.githubusercontent.com/80248514/111051440-4766bf00-8453-11eb-964f-a5e619ebacf5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


#header{
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}


#header a{
  float: left;
  display: block;
  color: black;
  padding: 10px;
  margin-left: 170px;
  margin-right: 165px;

  text-decoration: none;
  font-family: "SeventyTwo-Pixel";
  font-size: 13px;
  text-align: center;
}

#header a:hover{
  color: white;
  text-shadow: 1px 1px 10px black;
}


.introduce {
  margin-left: 220px;
  margin-right: 230px;

  font-family: helvetica;
  font-size: 22px;
  word-spacing: -2.8px;
  transform: scaleY(1.2);

  color: black;
  text-shadow: 1px 1px 20px black;

}

.info{
  margin-top: 100px;
  margin-left: 220px;
  margin-right: 230px;

  margin-top: 100px;
  font-family: helvetica;
  font-size: 18px;
  word-spacing: -2.8px;
  transform: scaleY(1.2);
  text-shadow: 1px 1px 20px pink;
  color: black;
}


.contact{
  margin-top: 100px;
  margin-left: 220px;
  margin-right: 230px;

  color: black;
  font-family: helvetica;
  font-size: 18px;
  text-shadow: 1px 1px 20px pink;
}


/* <!-- index3 --> */

img{
  width: 280px;
  height: auto;

  transition:transform 0.25s ease;
}

.container > img:hover{
  -webkit-transform:scale(2); /* or some other value */
  transform:scale(2);
}
