
@font-face {
  font-family: 'SeventyTwo-Pixel';
  font-style: normal;
  font-weight: normal;
  src: url('https://github.com/areumhwang2021/areumhwang2021.github.io/blob/a46a54fc1b4d15615a570845707a5a53bbf73acc/SeventyTwo-Pixel.otf') format('opentype'); 
}

html{
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 0px;
  display: none;
}

::-webkit-scrollbar-thumb{
  background: white;
}

body{
  margin: 0;
  background-image: url("https://user-images.githubusercontent.com/80248514/110313228-71108800-8006-11eb-937e-d7cb024a4d64.jpg");
  background-size: contain;
}


#header{
    overflow: hidden;
    background-color: white;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10px;
}


#header a{
  float: left;
  display: block;
  color: black;
  padding: 10px;
  margin-left: 185px;
  margin-right: 185px;

  text-decoration: none;
  font-family: "SeventyTwo-Pixel";
  font-size: 13px;
  text-align: center;
}

#header a:hover{
  text-decoration: underline;
}




/* body */

.work{
}

.description{
  margin-top: 100px;
}

.title{
  font-size: 28px;
  font-weight: lighter;
  letter-spacing: -1px;
}



span{
  margin-left: 220px;
  color: white;
  text-align: center;

  font-family: "SeventyTwo-Pixel";
  font-weight: lighter;
  font-size: 30px;
  letter-spacing: -1px;
}

p{
  width: 800px;
  margin-left: 400px;
  color: white;

  font-family: helvetica;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.mySlides, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlide6, .mySlides7{
  display: none;
}


.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

img{
  width: 1000px;
  height: auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  z-index: -1;
}


#newyearcard{
  margin-bottom: 0px;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 43%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: white;
  transition: 0.6s ease;
  user-select: none;

  font-family: "Times";
  font-size: 80px;
  opacity: 0;
  text-shadow: 1px 1px 5px black;
}

.next {
  right: 0;
  border-radius: 1px 0 0 1px;
}

.prev:hover, .next:hover{
  color: white;
  opacity: 1;
}
